body {
	color: white;
}

.page {
	margin-bottom: 90px;
}

.readClass {
	opacity: 0;
}

.unread {
	background-color: red;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left: -20px;
	margin-top: -20px;
}
#chevsizing {
	width: 20%;
}



.announcement {
	margin: 10px;
	padding: 15px;
	color: white;
	border-radius: 7px;
	font-size: 20px;
	font-weight: lighter;
}


.announcement:nth-of-type(6n+1) {
	background-color: #3f51b5;
}

.announcement:nth-of-type(6n+2) {
	background-color: #1565c0;
}

.announcement:nth-of-type(6n+3) {
	background-color: #00acc1;
}


.announcement:nth-of-type(6n+4) {
	background-color: #009688;
}

.announcement:nth-of-type(6n+5) {
	background-color: #43A046;
}

.announcement:nth-of-type(6n+6) {
	background-color: #7CB341;
}

.announcement:nth-of-type(6n+3) {
	background-color: #00acc1;
}

.announcement:nth-of-type(6n+4) {
	background-color: #009688;
}

.announcement:nth-of-type(6n+5) {
	background-color: #43A046;
}

.announcement:nth-of-type(6n+6) {
	background-color: #7CB341;
}

#LinkFixing {
	color: white;
	text-decoration: none;
	padding: none;
	background-color: transparent;

}

#LinkFix {
	background-color: transparent;
	display: block;
	float: left;
}

.glyphicon.glyphicon-chevron-down {
	float: right;
	color: #2c383e;
	font-size: 30px;
	align-self: center;
	position: relative;
	display: block;
	text-align: center;
}
.ButtonFixing {
	padding-left: 5px;
	padding-right: 5px;
}
#sizing {
	width: 90%;
	float: left;
	padding-left: 0px;
}

#sizing2 {
	width: 10%;
	float: right;
}
button {
	border: 0;
	width: 100%;
	text-align: left;
}

button:focus {outline:0;}


.announcement:nth-of-type(6n+1) button {
	background-color: #3f51b5;
}

.announcement:nth-of-type(6n+2) button {
	background-color: #1565c0;
}

.announcement:nth-of-type(6n+1) button {
	background-color: #3f51b5;
}

.announcement:nth-of-type(6n+2) button {
	background-color: #1565c0;
}


.announcement:nth-of-type(6n+3) button {
	background-color: #00acc1;
}

.announcement:nth-of-type(6n+4) button {
	background-color: #009688;
}

.announcement:nth-of-type(6n+5) button {
	background-color: #43A046;
}

.announcement:nth-of-type(6n+6) button {
	background-color: #7CB341;
}



.flipClass {
	transform: rotate(.5turn);
	animation-name: stretch;
  	animation-duration: .2s; 
  	animation-timing-function: ease-out; 
  	animation-delay: 0;
  	animation-direction: alternate;
  	animation-iteration-count: .2s;
  	animation-fill-mode: none;
  	animation-play-state: running;

}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.4);
  }
  100% {
    transform: scale(1);
  }
}


.flipdownClass {
	transform: rotate(0turn);
	animation-name: stretched;
  	animation-duration: .2s; 
  	animation-timing-function: ease-in; 
  	animation-delay: 0;
  	animation-direction: alternate;
  	animation-iteration-count: .2s;
  	animation-fill-mode: none;
  	animation-play-state: running;
}

@keyframes stretched {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.4);
  }
  100% {
    transform: scale(1);
  }
}




.announcement.collapse {
	display: block;
	transform: rotate(0turn);
}

.announcement.collapse.in {
	transform: rotate(1.5turn);
}

.description{
	font-size: 15px;
	padding: 5px;
	z-index: -1;
	white-space: pre-wrap;
}

#taskbar {
	width: 1440px;
	height: 100px;
	bottom: 40px;
}
