
#dial{
	display: block;
	fill: #7CB341;
	z-index: -1;
}

#currentBlockName {
	margin-top: 20%;
}

#wholeDial {
	height: 10%;
	width: 90%;
	margin-left: 5%;
}

.nameColor{
 fill: #969696;
}

.block1{
 fill: #3f51b5;
}

.block2{
 fill: #1565c0;
}

.block3{
 fill: #03a9f4;
}

.block4{
 fill: #00acc1;
}

.block5{
 fill: #009688;
}

.block6{
 fill: #43a047;
}

.block7{
 fill: #7CB341;
}

.block0{
	fill: #969696;
}

.text1{
 color: #3f51b5;
}

.text2{
 color: #1565c0;
}

.text3{
 color: #03a9f4;
}

.text4{
 color: #00acc1;
}

.text5{
 color: #009688;
}

.text6{
 color: #43a047;
}

.text7{
 color: #7CB341;
}

.text0{
color: #969696;
}

.time {
	font-weight: lighter;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  	fill:white;
}

.lunchColor {
	fill: gray;
}


#nextClass {
	font-size: 1em;
	text-align: center;
	font-weight: 200;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

#next{
	font-size: 2.5em;
	text-align: center;
	color: #969696;
	font-weight: 200;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

#nowClass {
	text-align: center;
	font-size: 1em;
	font-weight: 200;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;

}

#now {
	color: #969696;
	text-align: center;
	font-size: 2.5em;
	font-weight: 200;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  }


.goodFont {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	fill: #2c383e;
}


