
#dial{
	position: absolute;
	margin-top: 65px;
	/* changes position*/
	height: 375px;
	width: 375px;
	/*determines size of the svg box*/
	fill: green;
	z-index: -1;
}

#littlePath0{
 fill: #7CB341;
}

#littlePath1{
 fill: #2c383e;
 /* grey color */
}

#littlePath2{
 fill: #009688;
}

#littlePath3{
 fill: #00ACC1;
}

#littlePath4{
  fill: #2c383e;
 /* grey color */
}

#littlePath5{
 fill: #2B66B1;
}

#littlePath6{
 fill: #4555A5;
}

/* color 2 #43A046 */

/* color 5 #39A4DC */

#time {
	position: absolute;
	margin-left: 150px;
	margin-top: 230px;
	font-size: x-large;
}

#name {
	font-size: .3px;
	fill: white;
}

#nowNext {
	position: absolute;
	margin-top: 400px;
	margin-left: 100px;
	font-size: xx-large;
	font-family: verdana;
	color: gray;
}

#now {
	margin-left: 65px;
	font-size: large;
}

#now {
	margin-left: 65px;
}