h2 {
	color: white;
}

body {
	animation-duration: .25s;
    animation-name: fadein;
}	

.lunch-menu {
	text-align: left;
	color: white;
	margin: 10px;
	padding: 15px;
	border-radius: 7px;
	font-size: 20px;
}
